<!DOCTYPE html>
<!-- https://mdbootstrap.com/docs/b4/jquery/modals/additional/   -->
<html>
    <head>
        <meta charset="UTF-8">
        <html lang="fr">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <link rel = "icon" href = 
"Logo.png" 
        type = "image/x-icon">

    
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
            <link rel="stylesheet" href="./asset/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="./asset/bootstrap/css/mdb.min.css">
            <link rel="stylesheet" href="./asset/bootstrap/css/style.css">
            <link rel="stylesheet" href='./asset/bootstrap/css/addons/datatables.min.css'>
            <link  rel="stylesheet" href='./asset/bootstrap/css/addons/datatables-select.min.css'>
            <link rel="stylesheet" href="./asset/select2/css/select2.min.css">
            
            <style>
            a {
                color: #847171;
            }

          .toast{
            background:#3ca55c !important;position:absolute;top:12%
          } 
            </style>
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% block javascripts %}

        <script type="text/javascript" src= "./asset/bootstrap/js/jquery.min.js"></script>
        <script type="text/javascript" src="./asset/bootstrap/js/popper.min.js"></script>
        <script type="text/javascript" src="./asset/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./asset/bootstrap/js/addons/datatables.min.js"></script>
       <script type="text/javascript" src="./asset/bootstrap/js/addons/datatables-select.min.js"></script>
       <script src="./asset/select2/js/select.min.js"></script>

        <!-- export excel -->        
        <script type="text/javascript">
            var tableToExcel = (function() {
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
                , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
                , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
            return function(table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
                window.location.href = uri + base64(format(template, ctx))
            }
            })()
        </script>

</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script>
try {
  fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function(response) {
    return true;
  }).catch(function(e) {
    var carbonScript = document.createElement("script");
    carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
    carbonScript.id = "_carbonads_js";
    document.getElementById("carbon-block").appendChild(carbonScript);
  });
} catch (error) {
  console.log(error);
}
</script>

  

        {% endblock %}
    </body>

</html>
