<nav class="navbar fixed-top navbar-expand-lg navbar-dark info-color">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#modalSocial">DECLARATION PERIODIQUE</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="far fa-address-book"></i>
          SITUATION TVA</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#fullHeightModalTop">SITUATION BILAN</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#" style="color:yellow">
          <i class="fas fa-address-card"></i>
          STATISTIQUE</a>
      </li>

    </ul>

    <div class="md-form my-0">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link" href="{{path('login')}}">
          <i class="fas fa-user"></i>
          Deconnexion
          <span class="sr-only">(current)</span>
        </a>

      </ul>
    </div>
  </form>

</div>
</nav>
